:root {
    /* ----- COLORS ----- */
    --primary-color: #f5f5f5;
    --secondary-color: #1e1e1e;
    --tertiary-color: #fddc6d;
    --quaternary-color: #ff7e46;
    --gradient-color1: #fff6e9;
    --gradient-color2: #fff1f1;

    /* ----- FONTS ----- */
    --h1-home: 'caesura', sans-serif;
    --dialogues: 'Playfair Display', serif;
    --hieroglyphs: 'Noto Sans Egyptian Hieroglyphs', sans-serif;
}