:root {
    /* ----- COLORS ----- */
    --primary-color: #f5f5f5;
    --secondary-color: #1e1e1e;
    --tertiary-color: #fddc6d;
    --quaternary-color: #ff7e46;
    --gradient-color1: #fff6e9;
    --gradient-color2: #fff1f1;

    /* ----- FONTS ----- */
    // Families
    --h1-home: 'caesura', sans-serif;
    --dialogues: 'Playfair Display', serif;
    --hieroglyphs: 'Noto Sans Egyptian Hieroglyphs', sans-serif;
    // Sizes
    --h1-sizeMb: 3.188rem;
    --h1-sizeMbBig: 4.188rem;
    --h1-sizeTb: 5.625rem;
    --h1-sizeDt: 7.5rem;
    --headerText-sizeMb: 1.313rem;
    --headerText-sizeTb: 1.5rem;
    --headerText-sizeDt: 1.778rem;
    --bigText-sizeMb: 1.313rem;
    --bigText-sizeTb: 1.5rem;
    --bigText-sizeDt: 1.778rem;
    --text-sizeMb: 1rem;
    --text-sizeDt: 1.125rem;
    --quote-sizeMb: 1.125rem;
    --quote-sizeDt: 1.313rem;
    
}