/* ----- SETTINGS ----- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

/* ----- TEMPLE ----- */

.model__temple
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.templeText
{
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 21px;
    text-align: center;
    font-style: italic;
    width: 600px;
    opacity: 0;
    white-space: pre-wrap;
    font-family: 'Playfair Display', serif;
}

.templeUI__switchCam
{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;

    .templeUI__switchCam--left,
    .templeUI__switchCam--right{
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}
